body {
  margin: 0;
  background-color: #010001;
  padding-top: 53px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.header {
  margin: auto;
  max-width: 1231;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.item-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 14px;
}
.secondary-menu .item-link {
  color: #808080;
}
.main {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  margin-top: 120px;
}
.title {
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  margin-top: 0;
  margin-bottom: 26px;
}
.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  max-width: 268px;
  margin: auto;
}
.description:after {
  content: "";
  display: block;
  width: 1px;
  height: 56px;
  margin: auto;
  margin-top: 26px;
  background-color: #ffffff;
}
.video {
  height: 760px;
  max-width: 1230px;
  width: 90%;
  display: flex;
  margin: auto;
}
.features {
  position: relative;
  margin: auto;
  max-width: 1230px;
  width: 90%;
  padding: 100px 0;
}
.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.table {
  margin-bottom: 218px;
}
.table-column {
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.features-text {
  width: 490px;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}
.rocket {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
  max-width: 350px;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  align-items: center;
}
.footer-nav {
  padding-top: 43px;
  padding-bottom: 28px;
}
.footer-nav .item-link {
  font-size: 18px;
  line-height: 21px;
}
.footer-text {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 30px;
}
.footer-link {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-decoration: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-width: 260px;
  min-height: 60px;
  text-align: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
}
/*так же можно задать внутренние отступы с помощью padding*/
